<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="lidar_sensor" params="name parent *origin">
    <!-- z_offset: distance between base plate and laser center (= center of mesh) -->
    <link name="${name}_mount_link">
      <inertial>
        <mass value="0.001" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.000001" ixy="0.0" ixz="0.0"
          iyy="0.000001" iyz="0.0" izz="0.000001" />
      </inertial>
    </link>

    <joint name="${name}_joint" type="fixed">
      <parent link="${name}_mount_link" />
      <child link="${name}" />
      <origin rpy="0 0 0" xyz="0 0 0.02"/>
    </joint>

    <link name="${name}">
      <visual>
        <origin xyz="0 0 -0.005" />
        <geometry>
					<cylinder length="0.03" radius="0.04" />
        </geometry>
        <material name="blue"/>
      </visual>
      <collision>
        <origin xyz="0 0 -0.005" />
        <geometry>
					<cylinder length="0.03" radius="0.04" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.25" />
        <origin xyz="0 0 -0.026" />
      	<inertia ixx="0.01548332714" ixy="0.0" ixz="0.0" iyy="0.01548332714" iyz="0.0" izz="0.00014999993999999998"/>
      </inertial>
    </link>

    <joint name="${name}_mount_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_mount_link"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <gazebo reference="${name}">
      <turnGravityOff>false</turnGravityOff>
      <material value="Gazebo/Blue" />
      <sensor type="ray" name="${name}">
        <topic>scan</topic>
        <always_on>true</always_on>
        <update_rate>30</update_rate>
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>720</samples>
              <resolution>1</resolution>
              <min_angle>-2.357</min_angle>
              <max_angle>2.357</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.05</min>
            <max>4</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0</mean>
            <stddev>0.006</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_${name}_controller" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <remapping>~/out:=scan</remapping>
          </ros>
          <frame_name>${name}</frame_name>
          <output_type>sensor_msgs/LaserScan</output_type>
        </plugin>
      </sensor>
    </gazebo>

    <gazebo reference="${name}_mount_link">
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

  </xacro:macro>

</robot>
